
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>WTFF...ollowers</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<!-- NAVBAR
================================================== -->
<body>
<div class="navbar-wrapper">
  <div class="container">

    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">WTFF...ollowers</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <% if user_signed_in? %>
                <li><%= link_to "Admin Panel", admin_panel_index_path %></li>
                <li class="pull-right"><%= link_to "Sign-Out", destroy_user_session_path, :method => :delete %></li>
            <% else %>
                <li><%= link_to "Sign-Up", new_user_registration_path %></li>
                <li class="pull-right"><%= link_to "Sign-In", new_user_session_path %></li>
            <% end %>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

<%= yield %>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
